
body {
    width: 100vw;
}

a {
    text-decoration: none;
    color: black;
}

/* ========================================= */
/*                  Header                   */
/* ========================================= */
header {
    padding-top: 50px;
    padding-bottom: 30px;
    text-align: center;
    background-color: rgb(252, 251, 246);
}

/* ========================================= */
/*     Menu for Medium and Large screen      */
/* ========================================= */
.bp-m {
    display: none;
}


.bp-m .category {
    display: block;
}

/* ========================================= */
/*     Dropdown Menu for Small Screen        */
/* ========================================= */
.name {
    margin-bottom: 30px;
    font-style: italic;
}

.intro {
    color: #999;
    margin-bottom: 30px;
}

#current {
    display: flex;
    justify-content: space-between;
}

.currentCategory {
    margin-right: 15px;        
}

#menu-icon {
    width: 20px;
    height: 20px;
}

.dropdown {
    /* container div */
    position: absolute;
    top: 10px;
    left: 10px;
}

.dropdown-content {
    margin-top: -10px;
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, .8);
    width: 100px;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
    z-index: 1;
    text-align: center;
    
}


.dropdown-content .category {
    width: 100%;
    display: block;
    border-bottom: 1px solid #eeeeee;
    padding: 10px 5px;
    list-style-type: none;
    margin: 0 auto;
}

#top {
    font-weight: 900;
    color: gray;
    transform: scale(2, 1.5);
    right: 18px;
    bottom: 15px;
    text-decoration: none;
    padding: 6px 7px;
    position: fixed;
    height: 30px;
    background-color: rgba(252, 251, 246, .7);
}

/* ======================================== */
/*                  Main                    */
/* ======================================== */
main {
    padding: 30px;
}

.album {
    margin-top: 50px;
}

.album:first-child {
    margin-top: 10px;
}

.gallery {
    width: 100%;
}

.gallery * {
    width: 100%;
}

.gallery img {
    margin: 5px auto;
}

.notice {
    margin-top: -15px;
    margin-bottom: 10px;
    font-size: .8rem;
    color: gray;
    font-style: italic;
}

.pair-set {
    display: flex;
}

.square:first-child {
    margin-right: 10px;
}



@media (min-width: 768px) {
    header {
        width: 300px;
        height: 100vh;
        text-align: start;
        position: fixed;
        padding: 30px 30px;
        box-shadow: 0 0px 11px 4px rgba(200, 200, 200, .3);
    }

    main {
        width: calc(100vw - 300px);
        margin-left: auto;
        padding: 30px 70px;
    }

    footer {
        grid-area: footer;
        background-color: rgb(78, 69, 70);
    }

    .bp-s {
        display: none;
    }

    .bp-m {
        display: block;
    }
    
}

@media (min-width: 1024px) {
    body {
        grid-auto-columns: 40% 70%;
    }

    header {
        width: 450px;
    }

    main {
        width: calc(100vw - 450px);
        padding: 30px 100px;
    }

    #poster a:first-child img{
        margin-top: 5px;
    }

    #poster a img {
        width: 50%;
        margin: -7px 0 0 0;
    }

    #poster a:nth-child(even) img{
        margin-left: 50%;
    }
}